<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="headFragment">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Simple Sidebar - Start Bootstrap Template</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/static/a/favicon.ico">
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/static/c/styles.css" rel="stylesheet">
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
</th:block>
</html>
