<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<!-- 공통 헤드-->
<th:block th:replace="/layout/fragments2/header2 :: headFragment"></th:block>
<body>
<div class="d-flex" id="wrapper">
    <th:block th:replace="/layout/fragments2/sidebar :: sidebarFragment"></th:block>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <th:block th:replace="/layout/fragments2/top2 :: topbarFragment"></th:block>
        <div class="container-fluid">
            <th:block layout:fragment="content"></th:block>
        </div>
    </div>
</div>
<th:block th:replace="/layout/fragments2/script2 :: scriptFragment"></th:block>
</body>
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>
</html>