<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
<footer class="py-5 bg-black">
    <div class="container px-5">
                <p class="m-0 text-center text-white small">상호명 : (주)영재컴퍼니 | 대표자 : 김영재</p>
                <p class="m-0 text-center text-white small">사업자등록번호 : 594-24-29434 | 본사 : 경기도 성남시 중원구 여수동 251</p>
                <p class="m-0 text-center text-white small">Tel : 010-5721-2058 | Fax : 043-222-3333 | Mobile : 010-5721-2058</p>
                <p class="m-0 text-center text-white small">E-Mail : newy12@naver.com</p>
                <br>
                <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2021</p>
            </div>
    </div>
</footer>
</th:block>
</html>