<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="topbarFragment">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container px-5">
        <a class="navbar-brand" href="/">Young Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-lg-5">
                <li class="nav-item"><a class="nav-link" href="/topClothes">Top</a></li>
                <li class="nav-item"><a class="nav-link" href="/bottomClothes">Bottom</a></li>
                <li class="nav-item"><a class="nav-link" href="/shirtClothes">Shirt</a></li>
                <li class="nav-item"><a class="nav-link" href="/shoesClothes">Shoes</a></li>
                <li class="nav-item"><a class="nav-link" href="/accClothes">Acc</a></li>
            </ul>
      <!--      <ul class="navbar-nav ms-auto" th:if="${#authentication.name} == 'anonymousUser'">
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
            </ul>-->
            <ul class="navbar-nav ms-auto" sec:authorize="!isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" href="/signup">회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">로그인</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/myPrivate">MyPage</a>
                <a class="nav-link" sec:authentication="name"></a>
                <a class="nav-link" sec:authorize="hasRole('ADMIN')" href="/adminPage">관리자모드</a>
                <li class="nav-item">
                    <form action="/logout" name="logout" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"  />
                        <a href="javascript:logout.submit();" class="nav-link">로그아웃</a>
                    </form>

                </li>
            </ul>
       <!--     <ul class="navbar-nav ms-auto" th:unless="${#authentication.name} == 'anonymousUser'">
                    <a class="nav-link" sec:authentication="name"></a>
                <li class="nav-item">
                    <form action="/logout" name="logout" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"  />
                        <a href="javascript:logout.submit();" class="nav-link">logout</a>
                    </form>

                </li>
            </ul>-->
        </div>
    </div>
</nav>
<!-- Header-->
<!--<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">영재네 옷가게</h1>
            <h2 class="masthead-subheading mb-0">오픈입니다.</h2>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">더보기</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>-->


</th:block>
</html>