<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <div class="inner">
        <br><br><br>
        <h2>마이페이지</h2>
            <div class="card">
                <div class="card-body">

                </div>
            </div>
            <h2 style="height:100px; line-height: 100px;">장바구니</h2>
    <table class="table table-hover">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td width="180px;">상품이미지</td>
            <td width="140px;">상품명</td>
            <td>옵션</td>
            <td>가격</td>
            <td>수량</td>
            <td>합계</td>
            <td>삭제</td>
        </tr>
        <tr>
            <td>
                <img src="../static/assets/img/Top/clothes1.png" style="width: 120px;height: 120px;"/>
            </td>
            <td>맨투맨</td>
            <td>옵션없음</td>
            <td>10,000원</td>
            <td>
                <input type="text" value="1" style="width: 30px;" readonly/>개
            </td>
            <td>
                10,000원
            </td>
            <td>
                <button style="border-color: whitesmoke; background-color: snow">
                    <i class="fas fa-trash"></i>
                    삭제
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <img src="../static/assets/img/Top/clothes1.png" style="width: 120px;height: 120px;"/>
            </td>
            <td>맨투맨</td>
            <td>옵션없음</td>
            <td>10,000원</td>
            <td>
                <input type="text" value="1" style="width: 30px;" readonly/>개
            </td>
            <td>
                10,000원
            </td>
            <td>
                <button id="btnHover" style="border-color: whitesmoke; background-color: snow">
                    <i class="fas fa-trash"></i>
                    삭제
                </button>
            </td>

        <tr>
            <td>
                <img src="../static/assets/img/Top/clothes1.png" style="width: 120px;height: 120px;"/>
            </td>
            <td>맨투맨</td>
            <td>옵션없음</td>
            <td>10,000원</td>
            <td>
                <input type="text" value="1" style="width: 30px;" readonly/>개
            </td>
            <td>
                10,000원
            </td>
            <td>
                <button style="border-color: whitesmoke; background-color: snow">
                    <i class="fas fa-trash"></i>
                    삭제
                </button>
            </td>
        </tr>
        <tr>
            <td>
                <img src="../static/assets/img/Top/clothes1.png" style="width: 120px;height: 120px;"/>
            </td>
            <td>맨투맨</td>
            <td>옵션없음</td>
            <td>10,000원</td>
            <td>
                <input type="text" value="1" style="width: 30px;" readonly/>개
            </td>
            <td>
                10,000원
            </td>
            <td>
                <button style="border-color: whitesmoke; background-color: snow">
                    <i class="fas fa-trash"></i>
                    삭제
                </button>
            </td>
        </tr>
        </tr>
    </table>
        <div class="card">
            <div class="card-body" style="background-color: lightskyblue";>
                <div class="container">
                    <div class="row">
                        <div class="col">

                        </div>
                        <div class="col" style="text-align: right">
                            <p>상품 합계 금액 : <b>10,000원</b></p>
                            <p>배송비 : <b>0원</b></p>
                            <p>총 주문 합계 금액 : <b>10,000원</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: right; margin-top: 30px;">
        <button type="button" class="btn btn-outline-secondary" >장바구니 비우기</button>
        <button type="button" class="btn btn-outline-success"><a style="text-decoration:none; color: #6c757d" href="/buyClothes">상품 주문 하기</a></button>
        </div>
        <br><br><br><br><br><br><br><br><br>
    </div>
</th:block>
<th:block layout:fragment="css">
    <style>
        .inner{
            width: 70%;
            margin: 0 auto;
        }
    </style>
</th:block>
<th:block layout:fragment="script">
</th:block>
</html>
